/*Focused item background color in the list*/
#choicebox .menu-item:focused { -fx-focus-color: transparent; -fx-faint-focus-color: transparent; -fx-background-color: #FFD168; -fx-text-fill: FFFFFF; }
#choicebox { -fx-focus-color: transparent; -fx-faint-focus-color: transparent; }